<!DOCTYPE html>
<html>
<head>
  <title>Sourceacademy</title>
  <%= stylesheet_link_tag    "sourceacademy/application", media: "all" %>
  <%= javascript_include_tag "sourceacademy/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
